.Logo{
    
    font-family:fantasy; 
    float: left;
    text-align: center;
    font-size: 16px;
    width:15%;
    color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    border-color: black;
    background-color: green;
    
    
}

.Blank{
    
    width:30%;
    border: 2px;
    border-color: black;
    float:left;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    background-color: red;
    
    
    
}
 .Events{
    font-family:fantasy; 
    float: left;
    text-align: center;
    font-size: 16px;
    width:15%;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
     background-color: yellow;
}


.dropdown-organize {
    float: left;
    overflow: hidden;
    width:30%;
/*   padding-left: 20px;*/
    
    
}

.dropdown-organize .dropbtn-organize {
    font-size: 16px;    
    color: black;
    font-family:fantasy; 
    margin: 0;
/*    width:30%;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px; 
    padding-right: 10px;
    border: 2px;
    background-color: magenta;
}

.dropdown-organize:hover{
    background-color: lightgrey;
}

.dropdown-content-organize {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-organize a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-organize a:hover {
    background-color: #ddd;
}

.dropdown-organize:hover .dropdown-content-organize {
    display: block;
}



.Createevent{
    font-family:fantasy; 
    float: left;
    text-align: center;
    font-size: 16px;
/*    width:15%;*/
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    background-color: yellow;
}

.mySign{
    font-family:fantasy; 
    float: left;
/*    text-align: center;*/
    font-size: 16px;
    width:10%;
    color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;        
    border-color: black;
    
    background-color: blue;
    
}
/*chd de menu kr ke vekhn de*/

